<div class="app-bg">
  <div class="container-custom">
    
      <div class="sideBar" [ngClass]="{ active: isSidebarActive }">
        
        <div class="toggle" [ngClass]="{ active: isSidebarActive }" (click)="toggleSidebar()">
          <span class="material-symbols-outlined icon open"> menu </span>
          <span class="material-symbols-outlined icon close"> close </span>
        </div>
        
        <ul>
              <li class="list">
                  <b></b>
                  <b></b>
                  <a [routerLink]="['/']">
                      <span class="material-symbols-outlined icon">home</span>
                      <span class="title">Inicio</span>
                  </a>
              </li>
              <li class="list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <b></b>
                  <b></b>
                  <a [routerLink]="['/admin/home']">
                      <span class="material-symbols-outlined icon">dashboard</span>
                      <span class="title">Home</span>
                  </a>
              </li>
              <li class="list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <b></b>
                  <b></b>
                  <a [routerLink]="['/admin/captura']">
                      <span class="material-symbols-outlined icon">receipt_long</span>
                      <span class="title">Captura</span>
                  </a>
              </li>
              <li class="list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <b></b>
                  <b></b>
                  <a [routerLink]="['/admin/registros/list']">
                      <span class="material-symbols-outlined icon"> checkbook </span>
                      <span class="title">Registros</span>
                  </a>
              </li>
              <li class="list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <b></b>
                  <b></b>
                  <a [routerLink]="['/admin/usuarios/list']">
                      <span class="material-symbols-outlined icon">face </span>
                      <span class="title">Profile</span>
                  </a>
              </li>
              <li class="list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <b></b>
                  <b></b>
                  <a [routerLink]="['/admin/messages/list']" >
                      <span class="material-symbols-outlined icon"> notifications_unread </span> 
                      <span class="title">Messages</span>
                  </a>
              </li>
              <li class="list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <b></b>
                  <b></b>
                  <a [routerLink]="['/admin/documentos/list']">
                      <span class="material-symbols-outlined icon"> folder </span>
                      <span class="title">Documentos</span>
                  </a>
              </li>
        </ul>

        @if (estaAutenticado()) {
          <div class="sideBar-logout" (click)="cerrarSesion()">
              <b></b>
              <b></b>
              <span class="material-symbols-outlined icon"> logout </span>
              <span class="title"> Cerrar sesión </span>
          </div>
        }
      </div>
    

    <div class="area-work" [ngClass]="{ 'expanded': isSidebarActive }">
      <router-outlet></router-outlet>
    </div>

    
  </div>  
</div>